/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    font-family: sans-serif;
 }
 title {
    font-family: 'Grand Hotel', cursive;
    font-size: 51px;
 }

 h1 {
    font-family: 'Grand Hotel', cursive;
    font-size: 51px;
 }

main {

}

 .a1 {
     display: flex;
     flex-direction: column;
     height: 1155px;
     max-width: 1800px;
     background: rgb(245,245,245)
 }

.d2 {
    background: rgb(250,250,250);
    width: 390px;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid lightgray;
    border-radius: 3px;
 }



 .insta-logo {
    text-align: center;
    width: 268px;
    height: 50px;
    padding-top: 25px;
    padding-bottom: 50px;
    margin: 0 auto;
 }

  input {
    display: flex;
    background: rgb(240, 240, 240);
    width: 268px;
    height: 38px;
    margin: 1px auto;
    border-radius: 5px;
    padding: 5px;
 }

 form {
    display: inherit;
    flex-direction: column;
    height: 300px;

 }

  .login-form {
    width: inherit;
    height: 250px;
    margin: 0 auto;
 }

 .login-submit {
     display: inherit;
     background: lightskyblue;
     color: white;
     width: 268px;
     height: 38px;
     margin: 0 auto;
     align-items: center;
 }

.switch-form {
    background: rgb(250,250,250);
    display: flex;
    height: 35px;
    width: 350px;
    padding: 20px;
    border: 1px solid lightgray;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 3px;
}

div > .account-signup {
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

div > .account-signup > span {
    display: inherit;
    align-content: space-between;
}