/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 title {
    font-family: 'Grand Hotel', cursive;
    font-size: 51px;
 }

 h1 {
    font-family: 'Grand Hotel', cursive;
    font-size: 51px;
 }



.d3 {
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 756px;
    margin: 0 auto;
    margin-top: 100px;
 }

 .a1 {
     max-height: 1155px;
     max-width: 1800px;
 }

 .insta-logo {
    text-align: center;
    width: 268px;
    height: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
 }

  input {
    display: flex;
    background: rgb(240, 240, 240);
    width: 268px;
    height: 38px;
    margin: 2px auto;
    border-radius: 5px;
    padding: 5px;
 }

 form {
    
 }

  .login-form {
    width: inherit;
    margin: 0 auto;
 }

 .login-submit {
     display: inherit;
     background: lightskyblue;
     color: white;
     width: 268px;
     height: 38px;
     margin: 0 auto;
    text-align: center;
 }

.switch-form {
    display: flex;
    height: 35px;
    width: 350px;
    padding: 20px;
    border: 1px solid lightgray;
    align-content: center;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 2px;
}