.edit-section {
    display: flex;
    margin-top: 150px;
    height: 550px;
    width: 75%;
    border: 1px solid lightgray;
    background: white;
}

.edit-form {
    display: flex;
    flex-direction: column;
    height: auto;
}

.edit-pic {
    height: 38px;
    width: 38px;
    border-radius: 75%;
    margin-left: 35px;
}

.prof-pic-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.edit-container {
    display: flex;
    justify-content: flex-start;
    width: 400px;
    margin-bottom: 25px;
}

.edit-container > label {
    display: flex;
    justify-content: flex-end;
    width: 75px;
}

.change-pic{
    color: blue;
}

.prof-pic-edit {
    display: none;
}

.change-pic:hover {
    cursor: pointer;
}

.name-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-left: 35px;
}

.edits {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60px;
}

.edits > label {
    display: flex;
    align-items: center;
    margin: 20px;
}

.edit-info {
    background: white;
}

.edit-container > textarea {
    margin-left: 30px;
}


