.post-show-card {
    display: flex;
    flex-direction: row;
    margin-top: 125px;
}

.card-image {
    object-fit: cover;
    width: 617px;
    max-height: 617px;
}

.post-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background: white;
    border-radius: 3px;
    width: 335px;
}

.poster {
    display: flex;
    border-bottom: 1px solid lightgray;
    height: 55px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    align-items: center;
}

.poster-info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.side-bar-section {
    display: flex;
    flex-direction: column;
    background: white;
    justify-content: flex-start;
}

.poster-discussion {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-left: 15px;
}

.poster-discussion > .user {
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

.comment-listings {
    display: flex;
    height: auto;
    padding-top: 12px;
    padding-left: 15px;
}

.postshow-card-props {
    display: flex;
    width: 335px; 
    margin-bottom: 10px;
}

.show-icon1 {
    width: 20px;
}

.show-icon2 {
    width: 20px;
    margin-left: 15px;
}

.lower-postcard {
    display: flex;
    background: white;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.show-card-prop-timestamp {
 justify-content: center;
 margin-top: 15px;
 margin-left: 15px;
 color: lightgray;
 font-size: smaller;
}

.user-interactions2 {
    position: relative;
    margin-bottom: 0;
}